div h1 h2 body{margin: 0px; padding: 0px; }
h1 {padding: 50px; font-size:48px; background-color: #c5f442; 
-webkit-box-shadow: 6px 6px 22px 2px rgba(184,184,184,1);
-moz-box-shadow: 6px 6px 22px 2px rgba(184,184,184,1);
box-shadow: 6px 6px 22px 2px rgba(184,184,184,1);
}
body {
	font-family: Arial;
	color:#333;
	font-weight:bold;
background: url('../images/background.jpg');
background-color:#fff ;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#container{
	float:left;
	width: 50%;
	float: left;
    width: 50%;
    padding: 20px;
    margin-top: 50px;
    background-color: #cdf6f6;
    -webkit-box-shadow: 6px 6px 22px 2px rgba(184,184,184,1);
    -moz-box-shadow: 6px 6px 22px 2px rgba(184,184,184,1);
    box-shadow: 6px 6px 22px 2px rgba(184,184,184,1);
}
#calculator{
	float: right;
    padding: 0px 50px 0 0;

}
#sizecontrol{
	margin-bottom: 25px;
	padding: 10px;
	background-color: #c5f442;
	-webkit-box-shadow: 6px 6px 22px 2px rgba(184,184,184,1);
    -moz-box-shadow: 6px 6px 22px 2px rgba(184,184,184,1);
	box-shadow: 6px 6px 22px 2px rgba(184,184,184,1);
}
#periodscontainer{
	margin:15px 0 15px 0;
	background-color: #999;
    width: 600px;
}
#start{
	width: 200px;
	float: left;
	padding: 5px 0 0 0;
	}
#end{
	width: 200px;
	float: right;
	padding: 5px 200px 0 0;
	}
#submit{
	margin:15px 0 20px 0;
}

.main {
width:200px;
border:1px solid black;
}
 
.month {
background-color:black;
font:bold 12px verdana;
color:white;
}
 
.daysofweek {
background-color:gray;
font:bold 12px verdana;
color:white;
}
 
.days {
font-size: 12px;
font-family:verdana;
color:black;
background-color:#fff;
padding: 2px;
}
 
.days #today{
font-weight: bold;
color: red;
}